{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Seller Dashboard - ArtGround</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          // colors: {
          //   primary: "#FFFBFC",
          //   secondary: "#ADB9D1",
          //   accent: "#4A68A9",
          //   text: "#32384A",
          //   product: "#ECEDEF",
          // },
          extend: {
            colors: {
              primary: "#FFFBFC",
              secondary: "#ADB9D1",
              accent: "#4A68A9",
              text: "#32384A",
              product: "#ECEDEF",
            },
          },
        },
      };
    </script>
    <link
      rel="shortcut icon"
      href="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f4f6.svg"
      type="image/x-icon"
    />
  </head>
  <body class="bg-primary px-[60px] w-[100vw] overflow-x-hidden">
    {% include 'sellerNavbar.html' %}

    <div class="grid grid-cols-2 gap-6 h-[85vh] mt-2">
      <div class="grid grid-cols-2 grid-rows-2 gap-8">
        <div
          class="bg-secondary flex flex-col gap-6 rounded-lg p-6 text-2xl font-bold"
        >
          <h1 class="text-text">Total Sales</h1>
          <div class="flex flex-col gap-4">
            <span class="flex flex-col">
              <span class="text-primary text-5xl">2436</span>
              <span class="text-text text-xl">Products Sold</span>
            </span>
            <span class="flex flex-col">
              <span class="text-primary text-5xl">₹ 124K</span>
              <span class="text-text text-xl">Revenue</span>
            </span>
          </div>
        </div>
        <div
          class="bg-product rounded-lg flex flex-col justify-between rounded-lg p-6 text-2xl font-bold"
        >
          <h1 class="text-text">Total Products</h1>
          <div class="text-text text-5xl">
            126
          </div>
          <button
            class="text-accent border-2 border-accent text-lg p-2 rounded-lg"
          >
            View All
          </button>
        </div>
        <div
          class="col-span-2 bg-product rounded-lg flex flex-col justify-between rounded-lg p-6 text-lg font-semibold"
        >
          <button class="bg-primary text-center text-text p-2 rounded-lg w-[60%]">
            ↗ &nbsp; See Sales
          </button>
          <button class="bg-accent text-primary text-center p-2 rounded-lg">
            + Add Product
          </button>
        </div>
      </div>
      <div class="border-l-2 border-product">
        <div class="w-full ml-6 flex flex-col">
          <span
            class="flex justify-between items-center p-4 rounded-lg bg-product text-text font-semibold"
          >
            <p>Product Name</p>
            <p>Sales</p>
          </span>
          {% for product in product_sales %}
          <span
            class="flex justify-between items-center p-4 border-b-2 border-product text-text font-medium"
          >
            <p>{{product.title}}</p>
            <p>{{product.sales}}</p>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- <h1 class="text-5xl">Test branch seller</h1>
{{ request.user.seller.full_name }}
<form action={% url 'logout' %}>
    {% csrf_token %}
    <button>logout</button>
</form> -->
  </body>
</html>
