{% load static %} {% load static tailwind_tags %} {% load seller_filters %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Seller Dashboard - ArtGround</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-primary px-[60px] w-[100vw] overflow-x-hidden">
    {% include 'sellerNavbar.html' %}

    <div class="grid grid-cols-2 gap-6 h-[85vh] mt-2">
      <div class="grid grid-cols-2 grid-rows-2 gap-8">
        <div
          class="bg-secondary flex flex-col gap-6 rounded-lg p-6 text-2xl font-bold"
        >
          <h1 class="text-text">Total Sales</h1>
          <div class="flex flex-col gap-4">
            <span class="flex flex-col">
              <span class="text-primary text-[40px]">{{ product_sales|total_products_sold }}</span>
              <span class="text-text text-xl">Products Sold</span>
            </span>
            <span class="flex flex-col">
              <span class="text-primary text-[40px]">₹ {{ product_sales|total_revenue_generated }}</span>
              <span class="text-text text-xl">Revenue</span>
            </span>
          </div>
        </div>
        <div
          class="bg-product rounded-lg flex flex-col justify-between p-6 text-2xl font-bold"
        >
          <h1 class="text-text">Total Products</h1>
          <div class="text-text text-5xl">
            {{ request.user.seller|total_products_listed }}
          </div>
          <a
            href="{% url 'allProducts' %}"
            class="text-accent border-2 border-accent text-lg p-2 rounded-lg text-center"
          >
            View All
          </a>
        </div>
        <div
          class="col-span-2 bg-product flex flex-col justify-between rounded-lg p-6 text-lg font-semibold"
        >
          <div class="flex text-text opacity-60 gap-2">
            <div class="flex flex-col">
              <span>Name :</span>
              <span>Email :</span>
              <span>Phone :</span>
            </div>
            <div class="flex flex-col">
              <span>{{ request.user.seller.full_name }}</span>
              <span>{{ request.user }}</span>
              <span>{{ request.user.seller.phone_number }}</span>
            </div>
          </div>
          <a href="{% url 'TotalSales' %}">
            <button
              class="bg-primary text-center text-text p-2 rounded-lg w-[60%]"
            >
              ↗ &nbsp; See Sales
            </button>
          </a>
          <button class="bg-accent text-primary text-center p-2 rounded-lg">
            <a href="{% url 'addProducts' %}">
              + Add Product
            </a>
          </button>
        </div>
      </div>
      <div class="border-l-2 border-product">
        <div class="w-full ml-6 flex flex-col">
          <span
            class="flex justify-between items-center p-4 rounded-lg bg-product text-text font-semibold"
          >
            <p>Product Name</p>
            <p>Sales</p>
          </span>
          {% for product in product_sales %}
          <span
            class="flex justify-between items-center p-4 border-b-2 border-product text-text font-medium"
          >
            <p>{{product.product.name}}</p>
            <p>{{product.quantity}}</p>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
