{% extends 'base.html' %}

{% block content %}

    {% for category,products in painting_category.items  %}
        <h1 class="font-bold text-[24px] text-text border-t-2 border-secondary border-opacity-70 text-center pt-3">{{ category | capfirst }} Paintings</h1>
      <div class="grid grid-cols-5 gap-4 my-4 pb-2">
        {% for painting in products %}
        <div class="flex flex-col bg-product p-4 rounded-[20px] cursor-pointer">
          <img src="/media/{{ painting.image }}" alt="" class="" />
          <div class="flex justify-between mt-2">
            <div class="flex flex-col">
              <span class="text-text font-semibold text-[18px]"
                >{{painting.name}}</span
              >
              <span class="text-secondary text-[12px]">{{painting.seller}}</span>
                <span class="text-secondary text-[12px]">Size-{{painting.size}}</span>
            </div>
            <div class="text-accent font-semibold flex items-top">
              <span class="text-[12px] mr-[1px]">₹</span>
              <span class="text-[18px] font-bold">{{painting.price}}</span>
              <span class="text-[12px] ml-[1px]">00</span>
            </div>
          </div>
          <div class="flex gap-2 w-full mt-4">
            <button class="w-full bg-accent rounded-full text-primary">
              Add to cart
            </button>
            <button class="bg-secondary p-2 rounded-full">
              <img
                src="../../static/assets/heart.svg"
                alt=""
                class="mix-blend-overlay"
              />
            </button>
          </div>
        </div>
             {% empty %}
                <p class="col-span-5 text-center">No paintings available in this category.</p>
        {% endfor %}
      </div>
    
    {% endfor %}
    
{% endblock %}

