{% extends 'base.html' %} {% block content %}

<h1 class="font-bold text-[35px] text-text text-center pt-6">About Us</h1>
<div class="flex flex-col items-center mt-6">
  <section class="bg-white">
    <!-- <h1 class="text-3xl font-bold text-gray-900 mb-6">About Us</h1> -->
    <p class="text-lg text-gray-700 mb-4">
      Welcome to <span class="font-semibold">ArtGround</span>, a premier digital
      auction platform that bridges the gap between talented artists and art
      enthusiasts worldwide. Our mission is to provide a seamless and dynamic
      space where artists can showcase their creations and connect with a global
      audience of art lovers and collectors.
    </p>
    <h2 class="text-2xl font-semibold text-gray-900 mt-8 mb-4">Our Vision</h2>
    <p class="text-lg text-gray-700 mb-4">
      At ArtGround, we believe that art should be accessible to everyone. We are
      committed to making it easier for artists to share their work with the
      world and for buyers to discover and acquire unique pieces of art that
      resonate with them.
    </p>
    <h2 class="text-2xl font-semibold text-gray-900 mt-8 mb-4">Our Platform</h2>
    <p class="text-lg text-gray-700 mb-4">
      Our platform is designed with both artists and buyers in mind. For
      artists, we offer a user-friendly interface to upload and manage their
      artworks, create detailed profiles, and participate in auctions. For
      buyers, we provide an intuitive browsing experience to explore a diverse
      collection of art, participate in live auctions, and make secure
      purchases.
    </p>
    <h2 class="text-2xl font-semibold text-gray-900 mt-8 mb-4">
      Connecting Artists and Collectors
    </h2>
    <p class="text-lg text-gray-700 mb-4">
      ArtGround is more than just an auction site; it's a community where
      artists and collectors can engage and build relationships. We encourage
      interaction through our platform, offering tools for messaging,
      commenting, and sharing art pieces across social media.
    </p>
    <h2 class="text-2xl font-semibold text-gray-900 mt-8 mb-4">
      Our Commitment
    </h2>
    <p class="text-lg text-gray-700 mb-4">
      We are dedicated to supporting artists at every stage of their careers,
      from emerging talents to established professionals. Our team works
      tirelessly to promote artists' work, ensuring that every piece reaches a
      broad and appreciative audience.
    </p>
    <p class="text-lg text-gray-700 mb-4">
      Join us at ArtGround and be a part of a vibrant community that celebrates
      creativity, innovation, and the love of art. Whether you are an artist
      looking to share your work with the world or a collector searching for
      that perfect piece, ArtGround is your destination for exceptional art and
      meaningful connections.
    </p>
    <p class="text-lg text-gray-700 mb-4">
      Thank you for choosing ArtGround. Together, we can make art accessible to
      all.
    </p>
  </section>
</div>

{% endblock %}
