{% extends 'base.html' %}

{% block content %}
    {% load custom_filters %}
    {% for category,products in painting_category.items  %}
        <h1 class="font-bold text-[24px] text-text border-t-2 border-secondary border-opacity-70 text-center pt-3">{{ category | capfirst }} Paintings</h1>
      <div class="grid grid-cols-5 gap-4 my-4 pb-2">
        {% for painting in products %}
        <div title="{{ painting.description }}" class="flex flex-col bg-product p-4 rounded-[20px] cursor-pointer" id="{{ painting.product_id }}">
          <img src="/media/{{ painting.image }}" alt="" class="" />
          <div class="flex justify-between mt-2">
            <div class="flex flex-col">
              <span class="text-text font-semibold text-[18px]" 
                >{{painting.name}}</span
              >
              <span class="text-secondary text-[12px]">{{painting.seller}}</span>
                <span class="text-secondary text-[12px]">Size-{{painting.size}}</span>
            </div>
            <div class="text-accent font-semibold flex items-top">
              <span class="text-[12px] mr-[1px]">₹</span>
              <span class="text-[18px] font-bold">{{painting.price}}</span>
              <span class="text-[12px] ml-[1px]">00</span>
            </div>
          </div>
          <div class="flex gap-2 w-full mt-4">
{#          if products in cart are there#}
                  {% if painting|is_in_cart:request.session.cart %}
              <div class="w-full h-full text-text flex justify-between items-center border-solid border-[2px] rounded-full"  >
                  {% csrf_token %}
                  	 <form method="POST" class=" h-full text-[20px] bg-accent rounded-s-full text-primary" action="/category/#{{ painting.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ painting.product_id }}" class="hidden" name="productID"/>
                         <input type="text" value="True" class="hidden" name="remove"/>
                  <button class="w-full px-[15px] h-full bg-accent rounded-full text-primary" type="submit">-</button>
              </form>
                  <div>{{ painting|cart_quantity:request.session.cart }} in cart</div>
                    <form method="POST" class=" h-full text-[20px] bg-accent rounded-e-full text-primary" action="/category/#{{ painting.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ painting.product_id }}" class="hidden" name="productID"/>
                  <button class="w-full px-[15px] h-full bg-accent rounded-full text-primary" type="submit">+</button>
              </form>
              </div>
{#                      if no products avaliable in cart#}
                      {% else %}
                       <form class="w-full" method="POST" action="/category/#{{ painting.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ painting.product_id }}" class="hidden" name="productID"/>
                  <button class="w-full h-full bg-accent rounded-full text-primary" type="submit">
              Add to cart
                  </button>
              </form>
                  {% endif %}

            <button class="bg-secondary p-2 rounded-full">
              <img
                src="../../static/assets/heart.svg"
                alt=""
                class="mix-blend-overlay"
              />
            </button>
          </div>
        </div>
             {% empty %}
                <p class="col-span-5 text-center">No paintings available in this category.</p>
        {% endfor %}
      </div>
    
    {% endfor %}
    
{% endblock %}

