{% load widget_tweaks %}
{% load custom_filters %}
{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="../../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body class="relative bg-primary px-[60px] w-[100vw] overflow-x-hidden font-Montserrat" id="checkout-body">
  <!-- COUPON POPUP -->
<div class="absolute top-0 left-0 w-[100vw] h-[100vh] justify-center items-center bg-secondary bg-opacity-70 z-[99999999] overflow-hidden hidden" id="coupon-popup">
  <div class="bg-primary relative flex flex-col gap-3 w-[400px] h-[350px] p-10 rounded-lg justify-between items-center">
    <button class="absolute top-6 right-6" id="coupon-close"><img src="https://media-public.canva.com/fQLyM/MAEnIMfQLyM/1/tl.png" alt="" class="size-4 opacity-50"></button>
    <div class="flex">
    <span class="mx-auto border-2 p-4 rounded-full bg-secondary">
      <img src="https://media-public.canva.com/5QC9Y/MAFC4u5QC9Y/1/tl.png" alt="" class="size-[60px] mix-blend-overlay">
    </span>
    </div>
    <h1 class="font-semibold text-text text-lg">Enter Coupon Code</h1>
    <span class="grid grid-cols-1 w-full gap-3">
      {% render_field coupon.code placeholder="Enter Coupon Code" class="uppercase w-full outline-none border-none rounded-md p-3 bg-slate-200" %}
      <button id="applyCoupon" class="bg-accent text-primary p-2 rounded-md font-medium">APPLY</button>
    </span>
  </div>
</div>
{% include 'navbar.html' %}
<div class="flex justify-center w-full items-center">

  <div class="w-[60%] bg-product p-[20px] h-[100vh]">
    <h1 class="font-bold text-[25px] text-text font-Montserrat">
      Fill Your Details
    </h1>
    <form action="{% url 'orderConfirmation' %}" class="grid gap-2 text-text" id="shippingForm" method="post">
        {% csrf_token %}
      <div class="grid grid-cols-2 gap-4 mt-2">
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold">First Name</label>
          {% render_field form.first_name id="first_name" class+="rounded-lg border-none bg-primary" placeholder="Enter first name" %}
            <span class="text-red-500" id="first_name_error"></span>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Last Name</label>
          {% render_field form.last_name id="last_name" class+="rounded-lg border-none" placeholder="Enter last name" %}
            <span class="text-red-500" id="last_name_error"></span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-2">
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold">Email Address</label>
          {% render_field form.email id="email" class+="rounded-lg border-none" placeholder="abc@example.com" %}
            <span class="text-red-500" id="email_error"></span>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Phone Number</label>
          {% render_field form.phoneNumber id="phoneNumber" class+="rounded-lg border-none" placeholder="+91 9718xxxx38" %}
            <span class="text-red-500" id="phoneNumber_error"></span>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 mt-2">
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold">Shipping Address Line 1</label>
          {% render_field form.address1 id="address1" class+="rounded-lg border-none" placeholder="Address line 1" %}
            <span class="text-red-500" id="address1_error"></span>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Shipping Address Line 2</label>
          {% render_field form.address2 id="address2" class+="rounded-lg border-none" placeholder="Address line 2" %}
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-2">
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold">Country</label>
          {% render_field form.Country id="Country" class+="rounded-lg border-none" placeholder="Enter country name" %}
            <span class="text-red-500" id="Country_error"></span>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Zip/Postal Code</label>
          {% render_field form.zipCode id="zipCode" class+="rounded-lg border-none bg-blue" placeholder="Enter zip/postal code" %}
            <span class="text-red-500" id="zipCode_error"></span>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-2">
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold">State</label>
          {% render_field form.State id="State" class+="rounded-lg border-none" placeholder="Enter state name" %}
            <span class="text-red-500" id="State_error"></span>
        </div>
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">City</label>
          {% render_field form.City id="City" class+="rounded-lg border-none" placeholder="Enter city name" %}
             <span class="text-red-500" id="City_error"></span>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="name" class="font-semibold">Payment Method</label>
        <!-- {{ form.paymentType }} -->
        <div class="grid grid-cols-3 gap-2">
            {% for payment_method in form.paymentType %}
          <span class="flex bg-primary p-4 items-center gap-2 cursor-pointer rounded-md font-semibold text-text border-2 border-primary"
              onclick="SelectPaymentMethod('{{ payment_method.choice_label }}')">
              {% render_field payment_method.tag %}
              {% if payment_method.choice_label == 'Bank Transfer' %}
              <img src="https://cdn-icons-png.flaticon.com/512/1018/1018197.png" alt="" class="size-6">
              {% elif payment_method.choice_label == 'Credit Card' %}
              <img src="https://cdn-icons-png.flaticon.com/512/8983/8983163.png" alt="" class="size-8">
              {% elif payment_method.choice_label == 'UPI' %}
              <img src="https://www.npci.org.in/images/npci/upi/upi-logo.png" alt="" class="h-4">
              {% endif %}
              {{ payment_method.choice_label }}
            </span>
        {% endfor %}
        </div>
          <span class="text-red-500" id="paymentType_error"></span>
      </div>
    </form>
  </div>
  <div class="w-[40%] bg-secondary h-[100vh] relative">
    <h1 class="font-bold text-[25px] p-[20px]  text-text font-Montserrat">
      Your Cart
    </h1>
    <div class="h-[60%] w-full p-[20px] grid grid-cols-1 gap-2 overflow-y-auto ">
       <div class="flex flex-col gap-[10px]">
        <!-- cart product start -->
            {% for cart_product in cart_products %}
                 <a href="/product/{{cart_product.product_id}}">
            <div class="flex items-center h-fit w-full bg-primary px-4 py-2 rounded-md">
            <img src="/media/{{ cart_product.image }}" alt=""
            class="size-[70px] rounded-md">
            <div class="flex flex-col ml-5">
                <span class="text-text text-[20px] font-semibold"> {{ cart_product.name }}</span>
                <span class="text-secondary text-[12px]">{{ cart_product.seller }}</span>
                <span class="text-accent text-[20px] font-bold">₹ {{ cart_product.price }}</span>
            </div>
            <div class="flex justify-around items-center font-extrabold  ml-auto mt-auto text-[15px] bg-secondary rounded-md">
                 <form method="post" class="flex justify-center px-3">
                    {% csrf_token %}
                    <input type="text" value="{{ cart_product.product_id }}" class="hidden" name="productID"/>
                     <input type="text" value="True" class="hidden" name="remove"/>
                    <button type="submit" class="w-full text-accent text-[20px] cursor-pointer">-</button>
                </form >
                <span class="bg-primary py-2 px-3 rounded-sm text-text cursor-not-allowed">{{ cart_product|cart_quantity:request.session.cart }}</span>
                <form method="post" class="flex justify-center px-3">
                    {% csrf_token %}
                    <input type="text" value="{{ cart_product.product_id }}" class="hidden" name="productID"/>
                    <button type="submit" class="w-full text-accent text-[20px] cursor-pointer">+</button>
                </form>
            </div>
        </div>
                 </a>
            {% empty %}
            <div class="flex flex-col justify-center items-center gap-4">
              <img src="https://media-public.canva.com/56ar4/MAEcWd56ar4/1/tl.png" alt="" class="size-[120px] mix-blend-overlay rotate-[-12deg]">
            <p class="text-text">OOPS! Your Cart is empty</p>
            <a  class="bg-primary text-accent rounded-[20px] font-semibold py-2 px-14" href="{% url 'products' %}">Add Products</a>
            </div>
        {% endfor %}
        <!-- cart product end -->
       </div>
    </div>
  {% if cart_products %}
    <div class="h-[30%] gap-4 absolute bottom-0 w-full grid grid-cols-1 mx-auto p-[20px] bg-primary rounded-t-2xl border-2">
        <div class="w-full grid grid-cols-1 font-semibold">
            <span class="flex justify-between">
                <span>Subtotal</span>
                <span>₹ {{ cart_products|get_cart_total:request.session.cart }}</span>
            </span>
            <span class="flex justify-between">
                <span>Shipping Cost</span>
                <span class="text-[#D92020]">₹ 60</span>
            </span>
            <span class="flex justify-between">
                <span>Taxes</span>

                <span class="text-[#D92020]">₹ {{ cart_products|get_tax:request.session.cart }}</span>
            </span>
            <span class="text-accent flex justify-end w-full">
              <button class="ml-auto pt-1" id="coupon-btn">Have a Coupon Code?</button>
            </span>
        </div>
        <div class="grid grid-cols-2 bg-text text-primary justify-center items-center p-[15px] rounded-lg">
            <div class="flex flex-col justify-center">
                <span class="font-semibold">₹ {{ cart_products|get_total:request.session.cart }}</span>
                <span class="text-sm">inclusive of all taxes</span>
            </div>
            <button class="bg-primary h-full text-text rounded-md font-bold " id="buyNowButton">
               Buy Now
            </button>
        </div>
    </div>
{% endif %}
  </div>
</div>



 <script>
   document.getElementById('buyNowButton').addEventListener('click', function(event) {
  let form = document.getElementById('shippingForm');
  let isValid = true;

  // Clear previous error messages
  let errorElements = document.querySelectorAll('.error-message');
  errorElements.forEach(function(element) {
    element.innerText = '';
  });

  // Validate first name
  let firstName = document.getElementById('first_name').value.trim();
  if (firstName === '') {
    document.getElementById('first_name_error').innerText = 'First name is required';
    isValid = false;
  }

  // Validate last name
  let lastName = document.getElementById('last_name').value.trim();
  if (lastName === '') {
    document.getElementById('last_name_error').innerText = 'Last name is required';
    isValid = false;
  }

  // Validate email
  let email = document.getElementById('email').value.trim();
  if (email === '') {
    document.getElementById('email_error').innerText = 'Email is required';
    isValid = false;
  } else if (!/^\S+@\S+\.\S+$/.test(email)) {
    document.getElementById('email_error').innerText = 'Enter a valid email';
    isValid = false;
  }

  // Validate phone number
  let phoneNumber = document.getElementById('phoneNumber').value.trim();
  if (phoneNumber === '') {
    document.getElementById('phoneNumber_error').innerText = 'Phone number is required';
    isValid = false;
  } else if (!/^\d{10}$/.test(phoneNumber)) {
    document.getElementById('phoneNumber_error').innerText = 'Enter a valid phone number';
    isValid = false;
  }

  // Validate address line 1
  let address1 = document.getElementById('address1').value.trim();
  if (address1 === '') {
    document.getElementById('address1_error').innerText = 'Address line 1 is required';
    isValid = false;
  }

  // Validate country
  let country = document.getElementById('Country').value.trim();
  if (country === '') {
    document.getElementById('Country_error').innerText = 'Country is required';
    isValid = false;
  }

  // Validate zip/postal code
  let zipCode = document.getElementById('zipCode').value.trim();
  if (zipCode === '') {
    document.getElementById('zipCode_error').innerText = 'Zip/Postal code is required';
    isValid = false;
  }

  // Validate state
  let state = document.getElementById('State').value.trim();
  if (state === '') {
    document.getElementById('State_error').innerText = 'State is required';
    isValid = false;
  }

  // Validate city
  let city = document.getElementById('City').value.trim();
  if (city === '') {
    document.getElementById('City_error').innerText = 'City is required';
    isValid = false;
  }

  if (isValid) {
    form.submit();
  } else {
    event.preventDefault();
  }
});

document.getElementById('coupon-btn').addEventListener('click', function(){
  document.getElementById('checkout-body').style.overflow = 'hidden';
  document.getElementById('coupon-popup').style.display = 'flex';
});

document.getElementById('coupon-close').addEventListener('click', function(){
  document.getElementById('checkout-body').style.overflowX = 'hidden';
  document.getElementById('checkout-body').style.overflowY = 'auto';
  document.getElementById('coupon-popup').style.display = 'none';
});

</script>
</body>
</html>