{% block navbar %} {% load static %} {% load static tailwind_tags %}
    {% load custom_filters %}
<nav class="bg-primary">
  <div class="flex w-full justify-between items-center h-[70px]">
    <span class="flex justify-center items-center">
      <img
        src="{% static 'images/logo.png' %}"
        alt="logo"
        class="h-10"
      />
    </span>
    <ul
      class="flex justify-center items-center text-text gap-6 font-medium text-[16px]"
    >
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>
      <li><a href="{% url 'category' %}">Category</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li>
        <a class="bg-accent text-primary py-2 px-6 rounded-full" href="{% url 'logout_seller' %}">Join as Seller</a>
      </li>
        <li>
        <a class="bg-accent text-primary py-2 px-6 rounded-full" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="relative font-semibold">
        <span
          class="flex gap-2 bg-secondary py-2 px-6 rounded-full justify-center items-center"
          ><img
            src="../../static/assets/cart.svg"
            alt=""
            class="mix-blend-overlay"
          />
          <span class="mix-blend-overlay text-black">Cart</span></span
        >
        <span
          class="bg-accent text-primary text-[10px] rounded-full p-2 size-6 flex justify-center items-center absolute top-[-5] right-0 font-semibold"
          >{{ request.session.cart|cart_total }}</span>
          
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
