{% load static tailwind_tags %} {% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{product.name}}</title>
    <link rel="stylesheet" href="../../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
  </head>
  <body class="bg-primary px-[60px] overflow-x-hidden">
    {% include 'navbar.html' %}
    <div class="grid grid-cols-2 h-[85vh] mt-5">
      <div class="p-10 relative">
        <img
          src="/media/{{product.image}}"
          alt=""
          class="w-[80%] mx-auto rounded-lg aspect-square object-cover"
        />
        <span
          class="absolute top-[60px] flex gap-1 right-[120px] border-primary border-[2px] text-primary text-lg font-semibold rounded-lg py-2 px-4 bg-opacity-40 backdrop-blur-lg"
          >{{ product.rating }} ★
          </span>
      </div>
      <div class="border-l-4 border-secondary p-10 px-20 flex flex-col gap-2">
        <h1 class="text-[35px] text-text font-bold">{{product.name}}</h1>
        <h2 class="text-[20px] text-secondary font-semibold">
          {{product.seller}}
        </h2>
        <h3
          class="text-[14px] text-secondary w-fit px-4 py-1 rounded-md bg-accent font-semibold"
        >
          {{product.size}}
        </h3>
        <p class="text-[18px] text-text mt-5 line-clamp-6" title="">{{product.description}}</p>
        <div class="flex gap-4 mt-5 text-[30px] text-text font-bold">
          ₹{{product.price}}
        </div>
        <div class="flex gap-2 w-[60%] mt-4">
          {# if products in cart are there#} {% if product|is_in_cart:request.session.cart %}
          <div
            class="w-full h-full text-text flex justify-between items-center border-solid border-[2px] rounded-full"
          >
            {% csrf_token %}
            <form
              method="POST"
              class="h-full text-[20px] bg-accent rounded-s-full text-primary"
              action="/product/{{ product.product_id }}"
            >
              {% csrf_token %}
              <input
                type="text"
                value="{{ product.product_id }}"
                class="hidden"
                name="productID"
              />
              <input type="text" value="True" class="hidden" name="remove" />
              <button
                class="w-full px-[25px] h-full bg-accent rounded-full text-primary py-4"
                type="submit"
              >
                -
              </button>
            </form>
            <div class="text-[20px]">
              {{ product|cart_quantity:request.session.cart }} in cart
            </div>
            <form
              method="POST"
              class="h-full text-[20px] bg-accent rounded-e-full text-primary"
              action="/product/{{ product.product_id }}"
            >
              {% csrf_token %}
              <input
                type="text"
                value="{{ product.product_id }}"
                class="hidden"
                name="productID"
              />
              <button
                class="w-full px-[25px] h-full bg-accent rounded-full text-primary"
                type="submit"
              >
                +
              </button>
            </form>
          </div>
          {# if no products available in cart#} 
          {% else %}
          <form
            class="w-full"
            method="POST"
            action="/product/{{ product.product_id }}"
          >
            {% csrf_token %}
            <input
              type="text"
              value="{{ product.product_id }}"
              class="hidden"
              name="productID"
            />
            <button
              class="w-full h-full bg-accent rounded-full py-4 text-primary text-[20px]"
              type="submit"
            >
              Add to cart
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    <h1 class="font-bold text-center text-accent text-2xl mt-10 mb-5">
      Product Reviews
    </h1>
    <div class="grid grid-cols-3 gap-5 mb-10">
        {% for review in reviews %}
        	<div class="flex flex-col bg-primary border-2 border-accent p-4 w-full rounded-xl">
        <span class="text-accent text-xl font-semibold">{{ review.user }}</span>
        <span class="text-3xl text-accent">
            {% for _ in review.rating|star_range %}
                <span class="star">★</span>
            {% endfor %}
        </span>
        <span class="w-full my-2 text-text font-medium cursor-pointer" title="{{ review.review }}">
         {{ review.review }}
        </span>
        <span class="text-sm text-accent font-medium mt-auto">{{ review.date|date:"D d M Y" }}</span>
      </div>
            {% empty %}
            <p class="text-2xl font-Montserrat">No reviews available</p>
        {% endfor %}

    </div>
    <div>
      <h1 class="font-bold text-center text-accent text-2xl mt-10 mb-5">
        Similar Products
      </h1>
       <div class="grid grid-cols-5 gap-4 my-6 pb-4">
    {% for item in similar_products %}

      <div
        class="flex flex-col bg-product p-4 rounded-[20px] cursor-pointer"
        title="{{ item.description }}"
        id="{{ item.product_id }}"
      >
      <a href="/product/{{item.product_id}}" class="relative">
        <img
          src="/media/{{ item.image }}"
          alt=""
          class="w-full h-full object-cover rounded-xl aspect-square"
        />
          <span
          class="absolute top-[10px] flex gap-1 right-[10px] text-primary text-sm font-semibold border-primary border-[1px] rounded-md py-2 px-3 bg-opacity-[0.4] backdrop-blur-lg"
          >{{ item.rating }} ★
          </span>
      </a>
        <div class="flex justify-between mt-2">
          <div class="flex flex-col">
            <span class="text-text font-semibold text-[18px] line-clamp-1" title="{{ item.name }}"
              >{{item.name}}</span
            >
            <span class="text-secondary text-[12px]">{{item.seller}}</span>
            <span class="text-secondary text-[12px]">Size-{{item.size}}</span>
          </div>

          <div class="text-accent font-semibold flex items-top">
            <span class="text-[12px] mr-[1px]">₹</span>
            <span class="text-[18px] font-bold">{{item.price}}</span>
          </div>
        </div>
        <div class="flex gap-2 w-full mt-4">
          <!--if products in cart are there-->
            {% if item|is_in_cart:request.session.cart %}
          <div
            class="w-full h-full text-text flex justify-between items-center border-solid border-[2px] rounded-full"
          >
            {% csrf_token %}
            <form
              method="POST"
              class="h-full text-[20px] bg-accent rounded-s-full text-primary"

            >
              {% csrf_token %}
              <input
                type="text"
                value="{{ item.product_id }}"
                class="hidden"
                name="productID"
              />
              <input type="text" value="True" class="hidden" name="remove" />
              <button
                class="w-full px-[15px] p-1 h-full bg-accent rounded-full text-primary"
                type="submit"
              >
                -
              </button>
            </form>
            <div>{{ item|cart_quantity:request.session.cart }} in cart</div>
            <form
              method="POST"
              class="h-full text-[20px] bg-accent rounded-e-full text-primary"
            >
              {% csrf_token %}
              <input
                type="text"
                value="{{ item.product_id }}"
                class="hidden"
                name="productID"
              />
              <button
                class="w-full px-[15px] p-1 h-full bg-accent rounded-full text-primary"
                type="submit"
              >
                +
              </button>
            </form>
          </div>
          <!-- if no products avaliable in cart-->
            {% else %}
          <form class="w-full" method="POST">
            {% csrf_token %}
            <input
              type="text"
              value="{{ item.product_id }}"
              class="hidden"
              name="productID"
            />
            <button
              class="w-full h-full p-2 bg-accent rounded-full text-primary"
              type="submit"
            >
              Add to cart
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    {% empty %} <p class="text-2xl font-Montserrat">No Similar products</p> {% endfor %}
  </div>
    </div>
  </body>
</html>
