{% extends 'base.html' %}

{% block content %}
    {% load custom_filters %}
	 <h1 class="font-bold text-[24px] text-text  text-center pt-6">All Products</h1>
      <form>
       <span
          class="flex bg-primary h-[60px] w-[100%] rounded-lg mt-6 items-center pl-4 border-solid border-[1px]"
        >
          <img src="../../static/assets/search-icon.svg" alt="" class="size-8" />
          <span class="w-[1px] bg-secondary h-[60%] mx-[10px]"></span>
          <input
            type="text"
            placeholder="Search for your favourite artworks"
            class="search-input"
            name="query"
          />
           <span class="flex h-full  bg-accent rounded text-primary">
              <button type="submit" class="px-[40px]">Search</button>
          </span>
        </span>
          
      </form>
      <div class="grid grid-cols-5 gap-4 my-6 pb-4">
        {% for item in all_products %}
        <a href="/product/{{item.product_id}}">
        <div class="flex flex-col bg-product p-4 rounded-[20px] cursor-pointer" title="{{ item.description }}" id="{{ item.product_id }}">
          <img src="/media/{{ item.image }}" alt="" class="w-full h-full object-cover rounded-xl" />
          <div class="flex justify-between mt-2">
            <div class="flex flex-col">
              <span class="text-text font-semibold text-[18px]"
                >{{item.name}}</span
              >
              <span class="text-secondary text-[12px]">{{item.seller}}</span>
              <span class="text-secondary text-[12px]">Size-{{item.size}}</span>
            </div>
              
            <div class="text-accent font-semibold flex items-top">
              <span class="text-[12px] mr-[1px]">₹</span>
              <span class="text-[18px] font-bold">{{item.price}}</span>
              <span class="text-[12px] ml-[1px]">00</span>
            </div>
          </div>
          <div class="flex gap-2 w-full mt-4">
{#          if products in cart are there#}
                  {% if item|is_in_cart:request.session.cart %}
              <div class="w-full h-full text-text flex justify-between items-center border-solid border-[2px] rounded-full"  >
                  {% csrf_token %}
                  	 <form method="POST" class=" h-full text-[20px] bg-accent rounded-s-full text-primary" action="/products/#{{ item.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ item.product_id }}" class="hidden" name="productID"/>
                         <input type="text" value="True" class="hidden" name="remove"/>
                  <button class="w-full px-[15px] h-full bg-accent rounded-full text-primary" type="submit">-</button>
              </form>
                  <div>{{ item|cart_quantity:request.session.cart }} in cart</div>
                    <form method="POST" class=" h-full text-[20px] bg-accent rounded-e-full text-primary" action="/products/#{{ item.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ item.product_id }}" class="hidden" name="productID"/>
                  <button class="w-full px-[15px] h-full bg-accent rounded-full text-primary" type="submit">+</button>
              </form>
              </div>
{#                      if no products avaliable in cart#}
                      {% else %}
                       <form class="w-full" method="POST" action="/products/#{{ item.product_id }}">
                  {% csrf_token %}
                  	<input type="text" value="{{ item.product_id }}" class="hidden" name="productID"/>
                  <button class="w-full h-full bg-accent rounded-full text-primary" type="submit">
              Add to cart
                  </button>
              </form>
                  {% endif %}

            <button class="bg-secondary p-2 rounded-full">
              <img
                src="../../static/assets/heart.svg"
                alt=""
                class="mix-blend-overlay"
              />
            </button>
          </div>
        </div>
        </a>
            {% empty %} No relevant data found
        {% endfor %}
      </div>
    </div>
{% endblock %}